[core]
    editor = vim
[user]
    name = Hans Christian Rudolph
    email = hanschristianrudolph@gmail.com
[alias]
    aa = add --all
    st = status
    ci = commit
    co = checkout
    br = branch
    us = reset HEAD --
    last = log -1 HEAD
[color]
    diff = auto
    status = auto
    branch = auto
